%h2= "Freight Company Name: #{@freight_route.freight_company.name}" 
%h2= "User Zone Name: #{@freight_route.zone.name}" 
%h2= "Supplier Zone Name: #{@freight_route.suppliers_zone.zone.name}"
%h2= "Freight Route Travel Days: #{@freight_route.travel_days}"