%h3.text-center
  Search results for
  = "'#{@search_words.join(' ')}'"
%div.container
  %hr
  - if @search_results.size > 0
    %table
      - @search_results.each do |result|
        %tr  
          %td
            = image_tag result.default_image, :class => "col-md-8 img-responsive thumbnail", :alt => "#{result.name}", :style => "color: #777;"
          %td
            = link_to result.name, [products_path, result.permalink].join('/'), :target => "_blank", :style => "color: #777;"
  - else
    %p
      Not found