:css
  .main-container {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    / height: 50px;
  }
  .split-contailner{
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
  }
  .half1 {
    float: left;
    width: 46%;
    position: relative;
    left: 52%;
  }
  .half2 {
    float: left;
    width: 46%;
    position: relative;
    left: 56%;
  }
  .table-container{
    display: block;
    overflow: auto;

  }
  .table-container table th{
    border: 1px solid #40454D;
    background: #40454D;
    text-align: left;
    font-weight: normal;
    font-size: 0.9em;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
  }
  .table-container table{
    width: 100%;  
    overflow: auto;
  }
  .table-container table tbody th {
    text-align: left;
    background: #5B6270;
    border: 1px solid #5B6270;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
  }
  .table-container table tbody td{
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #cfd4dd;
    background: #fff;
  }
  .split-contailner h2{
    font-size: 1.2em;
    color: #333;
    padding-top: 28px;
    padding-bottom: 8px;
  }
- @page_title = t('shoppe.logistics.main_title')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.logistics.zones.new_zone'), :new_zone, :class => 'button green'
    = link_to t('shoppe.logistics.freight_companies.new_freight_company'), :new_freight_company, :class => 'button green'
    = link_to t('shoppe.logistics.freight_routes.new_route'), :new_freight_route, :class => 'button green'
    = link_to t('shoppe.logistics.suppliers.new_supplier'), :new_supplier, :class => 'button green'
    = link_to t('shoppe.logistics.suppliers.new_last_mile_company'), :new_last_mile_company, :class => 'button green'
  %h2.orders
    = t('shoppe.logistics.main_title')
.main-container
  .split-contailner
    .half1
      %h2=t('shoppe.logistics.search.title')
      .routeSearch{:style => action_name == 'search' ? "display:block" : ''}
        = form_tag search_logistics_path, :html => { :method => :post } do
          .dl
            .dt
              = label_tag t('shoppe.logistics.search.supplier')
            .dd
              = text_field_tag :supplier
            .dt
              = label_tag t('shoppe.logistics.search.customer')
            .dd
              = text_field_tag :customer
            .dd
              = submit_tag t('shoppe.logistics.search.search_button')
    .half2
      = render 'zones_table'
.main-container
  .split-contailner
    .half1
      .search-result 
        - if params[:action] == 'search'
          Supplier: zone B 
          %br
          Customer: zone A
      = render 'freight_routes_table'
    .half2
      = render 'suppliers_table'
.main-container
  .split-contailner
    .half1
      = render 'last_mile_companies_table'
    .half2
      = render 'freight_companies_table'
    .half2