- @page_title = t('shoppe.logistics.main_title')
= content_for :header do
  %p.buttons
    = link_to t('shoppe.logistics.zones.new_zone'), :new_zone, :class => 'button green'
    = link_to t('shoppe.logistics.freight_companies.new_freight_company'), :new_freight_company, :class => 'button green'
    = link_to t('shoppe.logistics.freight_routes.new_route'), :new_freight_route, :class => 'button green'
    = link_to t('shoppe.logistics.suppliers.new_supplier'), :new_supplier, :class => 'button green'
    = link_to t('shoppe.logistics.suppliers.new_last_mile_company'), :new_last_mile_company, :class => 'button green'
  %h2.orders
    = t('shoppe.logistics.main_title')
.main-container
  .logistic-container
    .half1
      %h2=t('shoppe.logistics.search.title')
      .routeSearch
        = form_tag search_logistics_path, :html => { :method => :post } do
          .dl
            .dt
              = label_tag t('shoppe.logistics.search.supplier')
            .dd
              = text_field_tag :supplier, @supplier, :class => 'text', placeholder: "city, zone, supplier name or warehouse address"
            .dt
              = label_tag t('shoppe.logistics.search.customer')
            .dd
              = text_field_tag :customer, @customer, :class => 'text', placeholder: "city or zone"
            .dd
              .right
                = submit_tag t('shoppe.logistics.search.search_button'), :class => 'button'
    .half2
      = render 'zones_table'
.main-container
  .logistic-container
    .half1
      .search-result 
        - if @customer_zones || @supplier_zones
          = "Supplier zones: #{@supplier_zones.map(&:name).join(", ") }" if @supplier_zones.present?
          %br
          = "Customer zones: #{@customer_zones.map(&:name).join(", ") }" if @customer_zones.present?
        - else 
          = "Any results" if action_name == 'search' 
      = render 'freight_routes_table'
    .half2
      = render 'suppliers_table'
.main-container
  .logistic-container
    .half1
      = render 'last_mile_companies_table'
    .half2
      = render 'freight_companies_table'
    .half2