.logistics_form
  = form_for @zone, :html => {:multipart => true} do |f|
    = f.error_messages
    = f.label :name, t('shoppe.logistics.zones.name')
    = f.text_field :name, :class => 'text'
    = render 'cities_form', :f => f unless @zone.new_record? 
    = f.submit t('shoppe.submit'), :class => 'button green'