%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/bootstrap.min.css"}

:css
  p {margin-top:3px;}
  span.remove-img{
    color:red;
    cursor:pointer;
  }
  label.is_room{margin-bottom: 0px;}
  label.is_room input{margin-bottom: 4px;}
  div.room-size{margin-bottom:10px; display:none;}
  fieldset.product-dimensions{display:none;}
  table.seat{width:100%;margin-top:100px;}
  dd.checkbox{margin-left:3%;}
  input.number{width: 100%;}
  dl.fourth{width: 20%; margin: 0 10px !important; float: left;}
  div.chosen-container{width:100% !important;}

/ Declare Variable
/- furniture_category_id = Shoppe::ProductCategory.find_by_name('Furniture').id
/- furniture_items = Shoppe::Product.where(:product_category_id == furniture_category_id)

= form_for @product, :html => {:multipart => true} do |f|

  = f.error_messages
  = field_set_tag  t('shoppe.products.product_information') do
    %dl
      %dt= f.label :product_category_id, t('shoppe.products.product_subcategory')
      %dd= f.collection_select :product_category_id, Shoppe::ProductCategory.order(:name), :id, :name, {:class => 'chosen'}
    %dl
      %dt= f.label :supplier_id, t('shoppe.products.product_supplier')
      %dd= f.collection_select :supplier_id, Shoppe::Supplier.order(:name), :id, :name, {:class => 'chosen'}
    %dl
      %dt= f.label :color_id, t('shoppe.products.product_color')
      %dd= f.collection_select :color_id, Shoppe::Color.order(:name), :id, :name, {:class => 'chosen'}

    .splitContainer
      %dl.fourth
        %dt= f.label :name, t('shoppe.products.name')
        %dd= f.text_field :name, :class => 'text focus'
      %dl.fourth
        %dt= f.label :permalink, t('shoppe.products.permalink')
        %dd= f.text_field :permalink, :class => 'text'
      %dl.fourth
        %dt= f.label :sku, t('shoppe.products.sku')
        %dd= f.text_field :sku, :class => 'text'
      %dl.fourth
        %dt= f.label :description, t('shoppe.products.description')
        %dd= f.text_area :description, :class => 'text'
    %br
    %dl
      %dt= f.label :short_description, t('shoppe.products.short_description'), style:'width:100%'
      %dd= f.text_area :short_description, :class => 'text'
    %dl
      %dt= f.label :in_the_box, t('shoppe.products.in_the_box')
      %dd= f.text_area :in_the_box, :class => 'text'
    %div.room-size
      %dl
        %dt= f.label :width, "Width(in)"
        %dd= f.text_field :width, :class => 'number', type: 'number', step: 'any'
      %dl
        %dt= f.label :depth, "Depth(in)"
        %dd= f.text_field :depth, :class => 'number', type: 'number', step: 'any'
    %dl
      %dt
        = f.label :is_preset, class: 'is_room' do
          = 'Is Room: '
          = f.check_box :is_preset, id: 'isRoom'
    %dl
      %dd= link_to 'Go to editor', "/room_editor/edit?preset=#{@product.id}", class: "button"

  = field_set_tag  t('shoppe.products.product_dimensions'), class: 'product-dimensions' do
    .splitContainer
      %dl.fourth
        %dt= f.label :width, "Width(in)"
        %dd= f.text_field :width, :class => 'number', type: 'number', step: 'any'
      %dl.fourth
        %dt= f.label :depth, "Depth(in)"
        %dd= f.text_field :depth, :class => 'number', type: 'number', step: 'any'
      %dl.fourth
        %dt= f.label :height, "Height(in)"
        %dd= f.text_field :height, :class => 'number', type: 'number', step: 'any'
      %dl.fourth
        %dt= f.label :other_details, "Other details:(text)"
        %dd= f.text_area :other_details, :class => 'text'
    %br
    .splitContainer
      %dl.fourth
        %dt= f.label :seat_width, "Seat width(in)"
        %dd= f.text_field :seat_width, :class => 'number', type: 'number', step: 'any'
      %dl.fourth
        %dt= f.label :seat_depth, "Seat depth(in)"
        %dd= f.text_field :seat_depth, :class => 'number', type: 'number', step: 'any'
      %dl.fourth
        %dt= f.label :seat_height, "Seat height(in)"
        %dd= f.text_field :seat_height, :class => 'number', type: 'number', step: 'any'
      %dl.fourth
        %dt= f.label :arm_height, "Arm height(in)"
        %dd= f.text_field :arm_height, :class => 'number', type: 'number', step: 'any'


  = field_set_tag t('shoppe.products.attributes') do
    .margin
      %table.productAttributes
        %thead
          %tr
            %td= t('shoppe.products.name')
            %td= t('shoppe.products.value')
            %td.searchable= t('shoppe.products.searchable?')
            %td.searchable= t('shoppe.products.public?')
            %td.remove= t('shoppe.products.remove')
            %td
        %tbody
          %tr.template{:style => 'display:none;'}
            %td= text_field_tag 'product[product_attributes_array][][key]', '', :placeholder => t('shoppe.products.name')
            %td= text_field_tag 'product[product_attributes_array][][value]', '', :placeholder => t('shoppe.products.value')
            %td.searchable= check_box_tag 'product[product_attributes_array][][searchable]', '1'
            %td.searchable= check_box_tag 'product[product_attributes_array][][public]', '1'
            %td.remove= link_to t('shoppe.remove') , '#', :class => 'button button-mini purple'
            %td.handle
          - for attribute in @product.product_attributes
            %tr
              %td= text_field_tag 'product[product_attributes_array][][key]', attribute.key, :placeholder => t('shoppe.products.name')
              %td= text_field_tag 'product[product_attributes_array][][value]', attribute.value, :placeholder => t('shoppe.products.value')
              %td.searchable= check_box_tag 'product[product_attributes_array][][searchable]', '1', attribute.searchable?
              %td.public= check_box_tag 'product[product_attributes_array][][public]', '1', attribute.public?
              %td.remove= link_to t("shoppe.remove"), '#', :class => 'button button-mini purple'
              %td.handle
      %p.addAttribute= link_to t('shoppe.products.add_attribute') , '#', :data => {:behavior => 'addAttributeToAttributesTable'}, :class => 'button button-mini green'

  = field_set_tag t('shoppe.products.images') do
    .splitContainer
      - array_images.each do |img|
        %dl.half
          %dt= f.label img, t("shoppe.products.#{img}"), :class => 'attachmentPreview'
          %dd
            - image = @product.send img
            - if image_link(@product, img)
              = link_to image_tag image_link(@product, img), :class => 'imageContainer', width: 80,  id: img
              %span.glyphicon.glyphicon-remove.remove-img{id: img}
            %p= f.file_field img
            %p
              = f.label "url_#{img}"
              = f.text_field "url_#{img}", id: img, class: 'url_image'
            %p= f.hidden_field "#{img}_cache"
        %br
      %dl.half

  - unless @product.has_variants?
    = field_set_tag t('shoppe.products.pricing') do
      .splitContainer
        %dl.third
          %dt= f.label :price, t('shoppe.products.price')
          %dd
            .moneyInput
              .currency= Shoppe.settings.currency_unit.html_safe
              = f.text_field :price, :class => 'text'
        %dl.third
          %dt= f.label :cost_price, t('shoppe.products.cost_price')
          %dd
            .moneyInput
              .currency= Shoppe.settings.currency_unit.html_safe
              = f.text_field :cost_price, :class => 'text'
        %dl.third
          %dt= f.label :tax_rate_id, t('shoppe.products.tax_rate')
          %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => t('shoppe.products.no_tax')}}

    = field_set_tag  t('shoppe.products.stock_control') do
      .splitContainer
        %dl.half
          %dt= f.label :weight, t('shoppe.products.weight')
          %dd= f.text_field :weight, :class => 'text'

        %dl.half
          %dt= f.label :stock_control,  t('shoppe.products.stock_control')
          %dd.checkbox
            = f.check_box :stock_control
            = f.label :stock_control, t('shoppe.products.enable_stock_control?')

  = field_set_tag  t('shoppe.products.website_properties') do
    .splitContainer
      %dl.half
        %dt= f.label :active,  t('shoppe.products.active?')
        %dd.checkbox
          = f.check_box :active
          = f.label :active,  t('shoppe.products.on_sale_info')
      %dl.half
        %dt= f.label :featured,  t('shoppe.products.featured?')
        %dd.checkbox
          = f.check_box :featured
          = f.label :featured, t('shoppe.products.featured_info')

  - if room_categories.include? @product.product_category.try(:permalink)
    = field_set_tag  t('shoppe.products.furniture_included') do
      .splitContainer
        - Shoppe::Product.furniture.order("product_category_id ASC").each do |product|
          %dl.third.furniture
            %dt= link_to t("#{product.product_category.name}: #{product.name} (#{product.sku})"), edit_product_path(product)
            %dd= check_box_tag 'included[]', product.id, (@product.included_products.include? product)
            %dd= product.name
            %dt
              - if image_link(product, 'default_image')
                = link_to (image_tag image_link(product, 'default_image'), :class => 'imageContainer', width: 80),  edit_product_path(product)

  %p.submit
    - unless @product.new_record?
      %span.right= link_to t('shoppe.delete') , @product, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this product?"}
    = f.submit t('shoppe.submit'),  :class => 'button green'
    = link_to t('shoppe.cancel'), :products, :class => 'button'

:javascript
  $('header.logo').css('height','auto');
  $('fieldset legend').css('width','auto');
  $('fieldset legend').css('border','none');
  $('dl.third.furniture').last().css('float','left');
  $( "span.remove-img" ).click(function() {
    var span = $(this);
    var id = span.attr('id');

    $.ajax({
      type: 'post',
      data: {
              img_id: id,
              id: "#{@product.id}",
            },
      headers: {
        'X-CSRF-Token': "#{form_authenticity_token.to_s}"
      },
      url: "/products/destroy_img",
      success: function(response) {
        $('input.url_image#'+id).val('');
        $('img#'+id).remove();
        span.remove();
      }
    });
  });

  if ( $('input#isRoom').is(':checked') ){
    $('div.room-size').show();
  } else{
    $('fieldset.product-dimensions').show();
  }

  $('input#isRoom').change(function() {
    if (!$('input#isRoom').is(':checked')){
      $('div.room-size').hide();
      $('fieldset.product-dimensions').show();
    } else {
      $('div.room-size').show();
      $('fieldset.product-dimensions').hide();
    }
  });

  $('input#product_width, input#product_depth, input#product_height').bind("change paste keyup", function() {
    var id = $(this).attr('id');
    var val = $(this).val();
    $('input#'+id).val(val);
  });
