<% content_for :custom_scripts do %>
  <%= javascript_include_tag "http://bxslider.com/lib/jquery.bxslider.js" %>
<% end %>


<div class="navigation-holder">
  <!--<div>-->
    <!--Position X-->
    <!--<input type="number" class="position-x" min="0" step="1">-->
  <!--</div>-->
  <!--<div>-->
    <!--Position Y-->
    <!--<input type="number" class="position-y" min="0" step="1">-->
  <!--</div>-->
  <!--<h3>-->
    <!--Products-->
    <!--<select class="products-manager">-->
      <!--<option>All</option>-->
      <!--<% @items.each do |item| %>-->
          <!--<option data-width="<%= item.width %>" data-height="<%= item.depth %>" data-category="<%= item.product_category_id || 0 %>"><%= item.name %></option>-->
      <!--<% end %>-->
    <!--</select>-->
  <!--</h3>-->
  <!--<h3>-->
    <!--Category-->
    <!--<select class="categories-manager">-->
      <!--<option>All</option>-->
      <!--<% @categories.each do |item| %>-->
          <!--<option data-id="<%= item.id %>"><%= item.name %></option>-->
      <!--<% end %>-->
    <!--</select>-->
  <!--</h3>-->
  <!--<button class="add-draggable">Add element</button>-->
</div>

<div class="rotate-angle" hidden>
  Angle
  <input type="number" class="rotation-manager" min="0" max="360" step="1">
</div>



<div class="editor-width">
  <hr>
  <!--<input type="number" class="holder-width" min="0" step="1" disabled>-->
  <div class='measure-width'>
    <span id='measure-width-ft'><%= full_measure( @product.width )[:ft] %></span>
    ft.
    <span id='measure-width-inch'><%= full_measure( @product.width )[:inch] %></span>
    in.
  </div>
  <%= image_tag 'line.png', class: 'editor-line' %>
</div>



<div class="editor-height">
  <%= image_tag 'vertical-line.png' %>
    <!--<input type="number" class="holder-height" min="0" step="1" disabled>-->
    <div class='measure-height'>
      <span id='measure-height-ft'><%= full_measure( @product.depth )[:ft] %></span>
      ft.
      <span id='measure-height-inch'><%= full_measure( @product.depth )[:inch] %></span>
      in.
    </div>
</div>


<div class='dragg'>

<div class="editor-items-panel">
  <% @product.included_products.each do |item| %>
    <div class='draggable2 items-panel-elem' data-id="<%= item.id %>">
        <% if image_link(item, 'image6') %>
              <%= image_tag image_link(item, 'image6'), width: '100%', height: '100%' %>
          <% end %>
    </div>
  <% end %>
</div>



<div class="editor-container" data-width="<%= @product.width %>" data-height="<%= @product.depth %>" style="height: 600px;">
  <% @product.included_products.each do |item| %>
    <% if @product.width > item.width && @product.depth > item.depth %>
      <% item.posX = @product.width / 2 if item.posX > @product.width || item.posX < 0 %>
      <% item.posY = @product.depth / 2 if item.posY > @product.depth || item.posY < 0 %>
      <span style="position: absolute;" data-width="<%= item.width %>" data-height="<%= item.depth %>"
            data-rotation="<%= item.rotation %>"
            data-x="<%= item.posX %>"
            data-y="<%= item.posY %>"
            data-toggle="tooltip" title="<%= item.product_category.name %>">

        <div id="<%= item.id %>" class="draggable" data-width="<%= item.width %>" data-height="<%= item.depth %>"
             data-rotation="<%= item.rotation %>"
             data-x="<%= item.posX %>"
             data-y="<%= item.posY %>"
             >
          <% if image_link(item, 'image6') %>
              <%= image_tag image_link(item, 'image6'), width: '100%', height: '100%', class: 'item-image'%>
          <% end %>
        </div>
        <%= image_tag 'rotate.png', class: 'rotation-arrow', width: '20px', height: '20px', hidden: true %>
      </span>
    <% else %>
      <script>
        $('.room-editor-container').hide();
        alert('<%= "Room dimensions (#{@product.width} x #{@product.depth}) are not enough for #{item.name} (#{item.width} x #{item.depth})" %>');
      </script>
    <% end %>
  <% end %>
</div>

</div>

<div id="dimensions-dialog" title="Set dimensions">
  <div id='room-slider'>
    <div class="slide active-slider" data-room='0'><%= image_tag 'rooms/room_0.png' %></div>
    <div class="slide" data-room='1'><%= image_tag 'rooms/room_1.png' %></div>
    <div class="slide" data-room='2'><%= image_tag 'rooms/room_2.png' %></div>
    <div class="slide" data-room='3'><%= image_tag 'rooms/room_3.png' %></div>
    <div class="slide" data-room='4'><%= image_tag 'rooms/room_4.png' %></div>
    <div class="slide" data-room='5'><%= image_tag 'rooms/room_5.png' %></div>
    <div class="slide" data-room='6'><%= image_tag 'rooms/room_6.png' %></div>
    <div class="slide" data-room='7'><%= image_tag 'rooms/room_7.png' %></div>
    <div class="slide" data-room='8'><%= image_tag 'rooms/room_8.png' %></div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <div id='room-preview'>
        <%= image_tag 'rooms/room_0.png' %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div id='dialog-form-errors'></div>
      <form class="form-horizontal" id='dialog-form'>

        <div class="form-group">
          <label class='col-sm-3 control-label'>Width:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control dialog-input dialog-input-width" id="width-ft" placeholder="ft." required value="<%= full_measure( @product.width )[:ft] %>">
            <input type="number" class="form-control dialog-input dialog-input-width" id="width-inch" placeholder="inch." required value="<%= full_measure( @product.width )[:inch] %>">
          </div>
        </div>

        <div class="form-group">
          <label class='col-sm-3 control-label'>Depth:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control dialog-input dialog-input-height" id="height-ft" placeholder="ft." required value="<%= full_measure( @product.depth )[:ft] %>">
            <input type="number" class="form-control dialog-input dialog-input-height" id="height-inch" placeholder="inch." required value="<%= full_measure( @product.depth )[:inch] %>">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-guideline" id='submit-new-dimensions'>Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>

<script>
</script>
