- @page_title = t('shoppe.logistics.freight_companies.new_freight_company')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.logistics.links.back'), :back, :class => 'button'
    = link_to t('shoppe.logistics.back_to_logistictics') , :logistics, :class => 'button'
  %h2.zones= t('shoppe.logistics.freight_companies.new_freight_company')

= render 'form'
