<div class='content-page-image-block'>
    <img class="content-page-image" src="<%= Rails.application.config.carousel_shop_about_blog %>">
    <div class='page-name'>
        <b>ACCOUNT</b>
    </div>
</div>
<% if @orders.present? %>
  <div class='orders-data'> 
  <h2>Order history</h2>
  <table>
    <thead>
      <tr>
        <th><%= t('shoppe.orders.number') %></th>
        <th><%= t('shoppe.orders.status') %></th>
        <th><%= t('shoppe.orders.products') %></th>	
        <th><%= t('shoppe.orders.total') %></th>	
        <th><%= t('shoppe.orders.payment') %></th>	
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.number %></td>
          <td><%= order.status %></td>
      	  <td>
      	  	<ul>
                <%- for item in order.order_items %>
                  <li><%= "#{item.quantity} x #{item.ordered_item.full_name}" %></li>
                <% end %>
            </ul>
      	  </td>
      	  <td><%= number_to_currency order.total %></td>
      	  <td><%= boolean_tag order.paid_in_full?, nil, :true_text => number_to_currency(order.amount_paid), :false_text => number_to_currency(order.amount_paid) %></td>
      	  <td><%= order.updated_at.strftime('%F') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>
<% if @products.present? %>
  <div class='products-data'> 
    <h2>Last visited products</h2>
    <ul>
      <% @products.each do |product| %>
        <li>
          <h4 style="color: #333;" ><%= link_to product.name, product_path(product.permalink) %></h4>
          <a href="<%= product_path(product.permalink) %>">
            <span>
              <%= image_tag product.default_image, class: "img-responsive item-img", alt: "#{product.full_name}" %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--
<main>
    <div class="welcome-message">
        <div class="l-wrapper">
            <p class="welcome-message__text">Hey [Name], here is a summary of your account activites:</p>
        </div>
    </div>
    <div class="one-table">
        <div class="l-wrapper">
            <h2 class="one-table__title">room design projects</h2>
            <div class="table">
                <div class="table__row table__row--head">
                    <div class="table__cell table__cell--first-cell">project name</div>
                    <div class="table__cell">status</div>
                    <div class="table__cell">submission date</div>
                    <div class="table__cell">creation date</div>
                    <div class="table__cell">last modefied date</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project1-name</a></div>
                    <div class="table__cell">Daft</div>
                    <div class="table__cell"></div>
                    <div class="table__cell">Oct 31, 2015</div>
                    <div class="table__cell">Oct 31, 2015 2:39pm</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project2-name</a></div>
                    <div class="table__cell">Submited</div>
                    <div class="table__cell">Sept 30, 2015</div>
                    <div class="table__cell">Sept 14, 2015</div>
                    <div class="table__cell">Sept 30, 2015 2:39pm</div>
                </div>
            </div>
            <button class="one-table__btn" type="button">create new project</button>
        </div>
    </div>
    <div class="one-table">
        <div class="l-wrapper">
            <h2 class="one-table__title">order history</h2>
            <div class="table">
                <div class="table__row table__row--head">
                    <div class="table__cell table__cell--first-cell">project name</div>
                    <div class="table__cell">status</div>
                    <div class="table__cell">submission date</div>
                    <div class="table__cell">creation date</div>
                    <div class="table__cell">last modefied date</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project1-name</a></div>
                    <div class="table__cell">Daft</div>
                    <div class="table__cell"></div>
                    <div class="table__cell">Oct 31, 2015</div>
                    <div class="table__cell">Oct 31, 2015 2:39pm</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project2-name</a></div>
                    <div class="table__cell">Submited</div>
                    <div class="table__cell">Sept 30, 2015</div>
                    <div class="table__cell">Sept 14, 2015</div>
                    <div class="table__cell">Sept 30, 2015 2:39pm</div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-table">
        <div class="l-wrapper">
            <h2 class="one-table__title">recent product visits</h2>
            <div class="table table--three-col">
                <div class="table__row table__row--head">
                    <div class="table__cell table__cell--first-cell">project name</div>
                    <div class="table__cell">status</div>
                    <div class="table__cell">submission date</div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project1-name</a></div>
                    <div class="table__cell">Daft</div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project2-name</a></div>
                    <div class="table__cell">Submited</div>
                    <div class="table__cell">Sept 30, 2015</div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                </div>
            </div>
        </div>
    </div>
</main>
-->