<!-- Carousel
	================================================== -->
<header class="intro-header">
<!--<div class="col-full">-->
	<div class="floating-text-container">
		<div class="floating-text featurette-heading" style="text-shadow: 0px 1px 5px #666;">
			<h3 class="section-heading">Furnish your entire room in one package</h3>
			<h1>ROOM IN A BOX</h1>
			<h3><%= link_to "Shop now", products_url, class: "btn-landing" %></h3>
		</div>
	</div>
<!--</div>-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel" >
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <div class="carousel-inner" role="listbox" id="carousel-inner-main">
	    <div class="item carousel-item active">
	      <a href="<%= products_url %>"><img class="first-slide slide-img" src="<%= Rails.application.config.carousel1s3path %>" alt="First slide"></a>
	      <div class="container">

	      </div>
	    </div>

	    <div class="item carousel-item">
	      <a href="<%= products_url %>"><img class="fill slide-img" src="<%= Rails.application.config.carousel2s3path %>" alt="Second slide"></a>
	      <div class="container">
	        <div class="carousel-caption">

		    </div>
	      </div>
	    </div>
	    <div class="item carousel-item">
	      <a href="<%= products_url %>"><img class="third-slide slide-img" src="<%= Rails.application.config.carousel3s3path %>" alt="Third slide"></a>
	      <div class="container">
	        <div class="carousel-caption">

	        </div>
	      </div>
	    </div>
	    <div class="item carousel-item">
	      <a href="<%= products_url %>"><img class="third-slide slide-img" src="<%= Rails.application.config.carousel4s3path %>" alt="Third slide" ></abbr>
	      <div class="container">
	        <div class="carousel-caption">

	        </div>
	      </div>
	    </div>
	  </div>
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div><!-- /.carousel -->
</header>
<br>

<div class="container" id="portfolio" >

	<h3 class="text-center" style="margin-top: 2em; color: #f49224;">How It Works</h3>
	<div class="row">
		<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

			<img style="margin: 0 auto;" src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-1-roomtype.jpg" alt="How It Works - 1. Choose the room" width="20%" height="auto" />
			<h4>1. Choose the room type</h4>
			&nbsp;

			Pick the room in your home that needs furnishing. Whether it’s your living room or bedroom, we’ve got the design for you!

		</div>
		<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

			<img src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-3-getroom.jpg" alt="How It Works - 2. Choose the design" width="20%" height="auto" />
			<h4>2. Choose the design</h4>
			&nbsp;

			Choose the look that best suits your style. All our rooms are designed professionally to maximize function and style.

		</div>
		<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

			<img src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-2-roomsize.jpg" alt="How It Works - 3. Choose the space" width="20%" height="auto" />
			<h4>3. Choose the option</h4>
			&nbsp;
			Select the option that fits your needs and space: small, medium or large. Use our room planner to see if the option fits into your space. 
  	
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 "></div>
		<div class="col-md-4 ">
			<h3 class="btn btn-default btn-lg btn-block" style="text-align: center;background-color: #f49224; border-color: #f49224; color: white; border-radius: 1px;">SHOP</h3>			
		</div>
		<div class="col-md-4 "></div>
	</div>
	<br />
	<div class="col-full" style="border-bottom: 1px solid #ccc; width: 100%; margin: 30px 0 10px 0; " ><h4 class="section-heading" style="color: #333;">Featured Rooms</h4>
	</div>
    <div class="col-md-8 portfolio-item">
          <% livingroomId = Shoppe::ProductCategory.where(permalink: "living-rooms") %>
		  <% product1= Shoppe::Product.where(product_category_id: livingroomId ).first %>
  		  <a href="<%= product_path(product1.permalink) if product1.present?  %>" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover" >
                    <div class="portfolio-hover-content">
  					  <%= product1.name if product1.present?  %>
                    </div>
                </div>
				<%= default_image_better_quality(product1) if product1.present? && default_image_better_quality(product1) %>
          </a>
      </div>
      <div class="col-md-4 portfolio-item">
		  <% product2= Shoppe::Product.where(product_category_id: livingroomId ).last %>
		  <a href="<%= product_path(product2.permalink) if product2.present? %>" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover" >
                  <div class="portfolio-hover-content">
					  <%= product2.name if product2.present? %>
                  </div>
              </div>
              <%= default_image_better_quality(product2) if product2.present? && default_image_better_quality(product2) %>
          </a>
         <% diningroomId = Shoppe::ProductCategory.where(permalink: "bedrooms") %>
		  <% product3= Shoppe::Product.where(product_category_id: diningroomId).first%>
  		  <a href="<%= product_path(product3.permalink) if product3.present? %>" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover" >
                <div class="portfolio-hover-content">
				  <%= product3.name if product3.present? %>
                </div>
            </div>
            <%= default_image_better_quality(product3) if product3.present? && default_image_better_quality(product3) %>
        </a>
    </div>
</div>

<br />
<div  style="background: url(https://s3.amazonaws.com/gofourwalls/globalimages/One+Fine+Stay/OFS-Living-room.jpg)no-repeat; background-size: 100%; margin: 0 0%; color: #fff;   height: 15em;"> 
	<div class="row" style="padding-top: 2em;">
		<p style="color: white; text-transform: none; text-align: center; font-size: 20px;">Join our mailing list to get the newest room designs, updates and great deals!</p>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h3 data-toggle="modal" href="#subscriber-form" class="btn-landing" style="text-align: center;color: white; border-color: white;">Get new designs and offers</h3>
		</div>
		<div class="col-md-4"></div>
	</div>

</div>



<div class="container" >
	<section>
		<h3 style="text-align: center; color: #f49224; margin-bottom: 25px;">We make furnishing simple with 'room in a box' designs.</h3>		

		      <!-- About Us  -->
		<div class="featurette">
		  <div class="col-md-4 " style="text-align: center;">
		          <h4>Convenience</h4>
		          <p>We value excellence in the overall shopping and delivery experience. You order. We deliver. And we pick up if need to return. That's how simple it is!</p>
		  </div>
		  <div class="col-md-4 " style="text-align: center;">
		          <h4>Savings</h4>
		          <p>We group the furniture into rooms to bring you savings in money and time! Getting individual pieces is not only costly and is time-consuming. Now you can get the entire room under one flat price!</p>
		  </div>
		  <div class="col-md-4" style="text-align: center;">
		          <h4>Design</h4>
		          <p>We curate timeless and functional furniture from established manufacturers with a reputation in quality. The rooms are put together by interior designers to ensure its functional and beautiful!</p>
		  </div>
		</div>

	</section>
	<section>
	<div class="row">
		<h3 style="text-align: center;color: #f49224; margin-top: 35px; ">Our Partners</h3>
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/Signature_Communities_Logo.png" alt="Signature Communities" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="http://signaturecommunities.ca/" style="color: black;">Signature Communities</a></h4>
	      <p class="service-description" style="font-size: 11px;" >builds sustainable communities throughout North America and the Caribbeans. See projects: <a style="color: #f49224;" href="http://www.taocondos.ca/">Tao Condos</a>, <a href="http://eastunitedcondos.com/" style="color: #f49224;" >East United</a> and <a href="http://signaturecommunities.ca/register-now-for-kings-den/" style="color: #f49224;" >King's Den</a>.</p>
	    </div>

	  </div>
  
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/fortress-logo.png" alt="Fortress Real Development" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="http://fortressrealdevelopments.com/" style="color: black;">Fortress Real Developments</a></h4>
	      <p class="service-description" style="font-size: 10px;" >focuses on large scale, quality development deals with established builders, developers and property managers with decades of experience.</p>
	    </div>

	  </div>
  
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/vandyk-logo.jpeg" alt="Vandyk" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="http://vandyk.com/" style="color: black;">VANDYK</a></h4>
	      <p class="service-description">builds premier new home communities in the most desirable residential areas in Southern Ontario and in the USA.</p>
	    </div>

	  </div>

	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/11-11-realty-logo.png" alt="Eleven Eleven Realty" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="http://1111realty.ca/" style="color: black;">Eleven Eleven Realty</a></h4>
	      <p class="service-description">is an independent owned and operated boutique brokerage with locations in Toronto, Burlington and Mississauga.</p>
	    </div>

	  </div>
  
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/onefinestay-logo.png" style="" alt="One Fine Stay" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="http://www.onefinestay.com/new-york" style="color: black;">One Fine Stay</a></h4>
	      <p class="service-description">provides luxury hospitality servics in New York, Los Angelos, London and Paris to makes sure you have one fine stay.</p>
	    </div>

	  </div>
  
  
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/fit-factory-logo.jpeg" alt="Fit Factory Fitness" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="http://fitfactoryfitness.com/" style="color: black;">Fit Factory Fitness</a></h4>
	      <p class="service-description">is the most unique fitness program and your one-stop shop for all things fitness to get you into the best shape of your life.</p>
	    </div>

	  </div>
  
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/casalova-logo.jpg" alt="Casalova" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="https://www.casalova.ca/" style="color: black;" >Casalova</a></h4>
	      <p class="service-description">is a rental listing platform to make rentals easier for tenants and landlords.</p>
	    </div>

	  </div>
  
	  <div class="col-md-3">

	    <div class="service">
	      <div class="service-icon-box">
	        <img src="https://s3.amazonaws.com/gofourwalls/globalimages/Partners/simply-laundry-logo.png" alt="Simply Laundry" class="service-icon">
	      </div>
	      <h4 class="service-heading"><a href="https://simply-laundry.com/" style="color: black;">Simply Laundry</a></h4>
	      <p class="service-description">provides all laundry services for the Greater Toronto area.</p>
	    </div>

	  </div>
	</div>
  </section>
</div>



<!-- Modal -->
<div class="modal" id="subscriber-form" role="dialog" style="max-width: 95%; min-width: 80%; opacity: 0.8;">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 style="color:black;"><span class="glyphicon glyphicon-lock"></span>Subscribe</h4>
    </div>
    <%= render 'mailchimp_subscriber_form.html.erb' %>
    
  </div>
</div>
</div> 
