<!-- Carousel 
	================================================== -->
<header class="intro-header">
<!--<div class="col-full">-->
	<div class="floating-text-container">
		<div class="floating-text featurette-heading">
			<h3 class="section-heading">Furnish your entire room in one package</h3>
			<h1>ROOM IN A BOX</h1>
			<h3><%= link_to "Shop now", products_url, class: "btn-landing" %></h3>
		</div>
	</div>
<!--</div>-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel" >
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <div class="carousel-inner" role="listbox" id="carousel-inner-main">
	    <div class="item carousel-item active">
	      <a href="<%= products_url %>"><img class="first-slide slide-img" src="<%= Rails.application.config.carousel1s3path %>" alt="First slide"></a>
	      <div class="container">

	      </div>
	    </div>

	    <div class="item carousel-item">
	      <a href="<%= products_url %>"><img class="fill slide-img" src="<%= Rails.application.config.carousel2s3path %>" alt="Second slide"></a>
	      <div class="container">
	        <div class="carousel-caption">

		    </div>
	      </div>
	    </div>
	    <div class="item carousel-item">
	      <a href="<%= products_url %>"><img class="third-slide slide-img" src="<%= Rails.application.config.carousel3s3path %>" alt="Third slide"></a>
	      <div class="container">
	        <div class="carousel-caption">

	        </div>
	      </div>
	    </div>
	    <div class="item carousel-item">
	      <a href="<%= products_url %>"><img class="third-slide slide-img" src="<%= Rails.application.config.carousel4s3path %>" alt="Third slide" ></abbr>
	      <div class="container">
	        <div class="carousel-caption">

	        </div>
	      </div>
	    </div>
	  </div>
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div><!-- /.carousel -->
</header>
<br>
<div class="container" id="portfolio" >
	
	<div class="col-full" style="border-bottom: 1px solid #ccc; width: 100%; margin: 30px 0 10px 0; " ><h4 class="section-heading" style="color: #333;">Featured Rooms</h4></div>
    <div class="col-md-4 col-sm-6 portfolio-item">
          <% livingroomId = Shoppe::ProductCategory.where(permalink: "living-rooms") %>
		  <% product1= Shoppe::Product.where(product_category_id: livingroomId ).first %>
  		  <a href="<%= product_path(product1.permalink)  %>" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover" >
                    <div class="portfolio-hover-content">
  					  <%= product1.name %>
                    </div>
                </div>
                <%= default_image(product1) if default_image(product1) %>
            </a>
          </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
		  <% product2= Shoppe::Product.where(product_category_id: livingroomId ).last %>		  
		  <a href="<%= product_path(product2.permalink)  %>" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover" >
                  <div class="portfolio-hover-content">
					  <%= product2.name %>
                  </div>
              </div>
              <%= default_image(product2) if default_image(product2) %>
          </a>
        </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
         <% diningroomId = Shoppe::ProductCategory.where(permalink: "dining-rooms") %>
		  <% product3= Shoppe::Product.where(product_category_id: diningroomId).first%>
  		  <a href="<%= product_path(product3.permalink)  %>" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover" >
                <div class="portfolio-hover-content">
				  <%= product3.name %>
                </div>
            </div>
            <%= default_image(product3) if default_image(product3) %>
        </a>
    </div>
	
	<br><br>
	<div class="col-full" style="border-bottom: 1px solid #ccc; width: 100%;  margin: 50px 0 10px 0;  " >
		<h4 class="section-heading" style="color: #333;">Featured Accents</h4>
	</div>
    <div class="col-md-4 col-sm-6 portfolio-item">
          <% accentsId = Shoppe::ProductCategory.where(permalink: "accents") %>
		  <% accent1= Shoppe::Product.where(product_category_id: accentsId ).first %>
  		  <a href="<%= product_path(accent1.permalink)  %>" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover" >
                    <div class="portfolio-hover-content">
  					  <%= accent1.name %>
                    </div>
                </div>
                <%= default_image(accent1) if default_image(accent1) %>
            </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
		  <% product2= Shoppe::Product.where(product_category_id: livingroomId ).last %>		  
		  <a href="<%= product_path(product2.permalink)  %>" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover" >
                  <div class="portfolio-hover-content">
					  <%= product2.name %>
                  </div>
              </div>
              <%= default_image(product2) if default_image(product2) %>
          </a>
	    </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
         <% diningroomId = Shoppe::ProductCategory.where(permalink: "dining-rooms") %>
		  <% product3= Shoppe::Product.where(product_category_id: livingroomId).first%>
  		  <a href="<%= product_path(product3.permalink)  %>" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover" >
                <div class="portfolio-hover-content">
				  <%= product3.name %>
                </div>
            </div>
            <%= default_image(product3) if default_image(product3) %>
        </a>
    </div>
	
	<br>
	<div class="col-full" style="border-bottom: 1px solid #ccc; width: 100%; margin: 50px 0 10px 0; ">
		<h4 class="section-heading" >News</h4>
	</div>
	<div class="col-md-4" style=" " >
		<table>
			<tr style="border-bottom: 1px solid #ccc;">
				<td width="100%">
					<p>October 30, 2015</p>
					<h5>See our room designs in model suites</h5>
					<p>Checkout the model suite Four Walls just furnished for VANDYK's Windows On The Green project in Mississauga, Canada. Read <a href="http://blog.gofourwalls.com/2015/10/13/vandyk-windows-on-the-green/" style="color: #F49224;">more</a>.</p>
					<img src="https://s3.amazonaws.com/gofourwalls/globalimages/Vandyk/vandyk-logo.jpeg" alt="VANDYK" width="40%" height="auto" style="padding: 5px;">
					<img src="https://s3.amazonaws.com/gofourwalls/globalimages/Vandyk/wotg-logo.png" alt="VANDYK - Windows on the Green" width="30%" height="auto" style="padding: 5px;">
					
				</td>
			</tr>
			<tr style="border-bottom: 1px solid #ccc;" >
				<td width="100%">
					<p>October 20, 2015</p>
					<h5>Showroom in Toronto!</h5>
					<p>Our first showroom in Toronto is coming soon! You can check out our products in <a href="http://fitfactoryfitness.com/" style="color: #F49224;">Fit Factory Fitness</a> and do a military-style workout!</p>
					<img src="https://s3.amazonaws.com/gofourwalls/globalimages/Fit+Factory+Fitness/fit-factory-logo.jpeg" alt="Fit Factory Fitness - Toronto" width="100%" height="auto" style="padding-top: 20px; " >
					
				</td>
			</tr>
			<tr style="border-bottom: 1px solid #ccc;">
				<td width="100%">
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; border-color: #F49224;}
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup" style="background: none; ">
						<form action="//gofourwalls.us9.list-manage.com/subscribe/post?u=2925a3a7e8e3d72d2bf106eca&amp;id=82d02b4614" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">
								<h4 style="color: #F49224;text-align: center; text-transform: capitalize;">Get the newest designs and new offers</h4>
								<div class="mc-field-group" style="width: 100%; ">
									<label for="mce-EMAIL" style="color: #777;">Email Address </label>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="min-width: 50%;">
								</div>
							    <div class="clear">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="sub-btn" style="">
								</div>
						    </div>
							<div id="mce-responses" class="clear" style="width: 40%; word-wrap: normal; margin-left: 30%; max-width: 60%;">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none; color: #777777;"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;">
								<input type="text" name="b_2925a3a7e8e3d72d2bf106eca_82d02b4614" tabindex="-1" value="">
							</div>
						</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='UBPAGEID';ftypes[3]='text';fnames[4]='UBVARIANT';ftypes[4]='text';fnames[5]='UBDATE';ftypes[5]='date';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-8"  >
		<div id="partnerCarousel" class="carousel slide" data-ride="carousel" >
			
		  <!-- Indicators -->
  		  <ol class="carousel-indicators">
		    <li data-target="#partnerCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#partnerCarousel" data-slide-to="1"></li>
		    <li data-target="#partnerCarousel" data-slide-to="2"></li>
		  </ol>

		  <div class="carousel-inner" role="listbox" id="carousel-inner-main">
		    <div class="item carousel-item active" style="height: auto;">
		      <a href="<%= products_url %>"><img class="first-slide slide-img" src="https://s3.amazonaws.com/gofourwalls/globalimages/Vandyk/living-dining-room-v2-1200x800.jpg" alt="First slide"></a>
		      <div class="container">

		      </div>
		    </div>

		    <div class="item carousel-item"  style="height: auto;">
		      <a href="<%= products_url %>"><img class="fill slide-img" src="https://s3.amazonaws.com/gofourwalls/globalimages/Vandyk/bedroom-1200x800.jpg" alt="Second slide"></a>
		      <div class="container">
		        <div class="carousel-caption">

			    </div>
		      </div>
		    </div>
		    <div class="item carousel-item" style="height: auto;">
		      <a href="<%= products_url %>"><img class="third-slide slide-img" src="https://s3.amazonaws.com/gofourwalls/globalimages/Vandyk/living-room-v2-1200x800.jpg" alt="Third slide" ></a>
		      <div class="container">
		        <div class="carousel-caption">

		        </div>
		      </div>
		    </div>
		  </div>
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div><!-- /.carousel -->
	</div>
	<br>
	
</div>