<div class="selected-furniture__table">
    <div class="selected-furniture__row selected-furniture__row--first">
        <div class="selected-furniture__cell"></div>
        <div class="selected-furniture__cell"></div>
        <div class="selected-furniture__cell">Product Name</div>
        <div class="selected-furniture__cell">Short Description</div>
        <div class="selected-furniture__cell">Dimensions<br>W x D x H</div>
    </div>

    <% @products_categories.each do |product_category, product_list| %>
        <div class="selected-furniture__row selected-furniture__row--gray product-category" data-id="<%= product_category.id %>">
            <div class="selected-furniture__cell"></div>
            <div class="selected-furniture__cell"><%= product_category.name %></div>
            <div class="selected-furniture__cell"></div>
            <div class="selected-furniture__cell"></div>
            <div class="selected-furniture__cell"></div>
        </div>

        <% product_list.each do |product| %>
            <div class="selected-furniture__row product" data-id="<%= product.id %>" data-product-category-id="<%= product_category.id %>" >
                <div class="selected-furniture__cell selected-furniture__cell--with-cross">
                    <span class="glyphicon glyphicon-remove product-remove" data-product-id="<%= product.id %>" data-url="<%= designer_portal_remove_product_path %>"></span>
                </div>
                <div class="selected-furniture__cell selected-furniture__cell--with-img">
                    <%= image_tag image_link(product, 'default_image'), class: "one-products-category__img", alt: "#{product.full_name}" %>
                </div>
                <div class="selected-furniture__cell"><%= product.name %></div>
                <div class="selected-furniture__cell"><%= product.short_description %></div>
                <div class="selected-furniture__cell"><%= product_dimensions(product) %></div>
            </div>
        <% end %>
    <% end %>

</div>
