<%= render 'bottom_buttons' %>
<main>
    <section class="main-tabs">
        <div class="l-wrapper">
          <%=  link_to 'project info', designer_portal_path, class: "main-tabs__one-tab" %>
          <%= link_to 'select items', designer_portal_select_items_path, class: "main-tabs__one-tab", id: 'select-items-tab' %>
          <%= link_to 'room builder', "#", class: "main-tabs__one-tab main-tabs__one-tab--active" %>
          <%= link_to 'instructions', designer_portal_instructions_path, class: "main-tabs__one-tab" %>
        </div>
    </section>
    <div class="l-wrapper">
        <div class="subtabs">
            <a class="subtabs__one-tab subtabs__one-tab--active" data-appearer="selected-furniture" href="#">SELECTED FURNITURE</a>
            <a class="subtabs__one-tab" data-appearer="room-layout" href="#">ROOM LAYOUT</a>
            <a class="subtabs__one-tab" data-appearer="furniture-board" href="#">FURNITURE BOARD</a>
            <button class="subtabs__btn" type="button" style="visibility: hidden">Text Test</button>
            <button class="subtabs__btn" type="button" style="visibility: hidden">Test Test</button>
        </div>
        <div id="selected-furniture" class="js-tabs-block selected-furniture active-tab" data-project-id="<%= @design_project.id %>">
            <div class="selected-furniture__table">
                <div class="selected-furniture__row selected-furniture__row--first">
                    <div class="selected-furniture__cell"></div>
                    <div class="selected-furniture__cell"></div>
                    <div class="selected-furniture__cell">Product Name</div>
                    <div class="selected-furniture__cell">Short Description</div>
                    <div class="selected-furniture__cell">Dimensions<br>W x D x H</div>
                </div>

                <% @products_categories.each do |product_category, product_list| %>
                    <div class="selected-furniture__row selected-furniture__row--gray product-category" data-id="<%= product_category.id %>">
                        <div class="selected-furniture__cell"></div>
                        <div class="selected-furniture__cell"><%= product_category.name %></div>
                        <div class="selected-furniture__cell"></div>
                        <div class="selected-furniture__cell"></div>
                        <div class="selected-furniture__cell"></div>
                    </div>

                    <% product_list.each do |product| %>
                        <div class="selected-furniture__row product" data-id="<%= product.id %>" data-product-category-id="<%= product_category.id %>" >
                            <div class="selected-furniture__cell selected-furniture__cell--with-cross">
                                <span class="glyphicon glyphicon-remove product-remove" data-product-id="<%= product.id %>" data-url="<%= designer_portal_remove_product_path %>"></span>
                            </div>
                            <div class="selected-furniture__cell selected-furniture__cell--with-img">
                                <%= image_tag image_link(product, 'default_image'), class: "one-products-category__img", alt: "#{product.full_name}" %>
                            </div>
                            <div class="selected-furniture__cell"><%= product.name %></div>
                            <div class="selected-furniture__cell"><%= product.short_description %></div>
                            <div class="selected-furniture__cell"><%= product_dimensions(product) %></div>
                        </div>
                    <% end %>
                <% end %>

            </div>
        </div>
        <div id="room-layout" class="js-tabs-block room-layout">
            <p class="room-layout__instr-text">Drag the line drawing to the room</p>
            <%#= render partial: 'room_layout_editor' %>
        </div>
        <div id="furniture-board" class="js-tabs-block furniture-board">
            <p class="furniture-board__instr-text">Drag the images to the board</p>
            <%#= render partial: 'furniture_board_editor' %>
        </div>
    </div>
</main>
<script>
    ;(function() {
        var subtabs = document.querySelectorAll(".subtabs__one-tab");
        var subtabBtns = document.querySelectorAll(".subtabs__btn");
        var blocks = document.querySelectorAll(".js-tabs-block");

        for (var i = 0, lim = subtabs.length; i < lim; i += 1) {
            subtabs[i].addEventListener("click", function(e) {
                e.preventDefault();

                for (var x = 0, max = blocks.length; x < max; x += 1) {
                    blocks[x].classList.remove("active-tab");
                };

                for (var y = 0, max = subtabs.length; y < max; y += 1) {
                    subtabs[y].classList.remove("subtabs__one-tab--active");
                };

                var dataText = this.dataset.appearer;
                var block = document.getElementById(dataText);
                block.classList.add("active-tab");
                this.classList.add("subtabs__one-tab--active");

                if (dataText === "selected-furniture") {
                    for (var z = 0, len = subtabBtns.length; z < len; z += 1) {
                        subtabBtns[z].style.visibility = 'hidden';
                    };
                } else {
                    for (var z = 0, len = subtabBtns.length; z < len; z += 1) {
                        subtabBtns[z].style.visibility = '';
                    };
                };
            })
        };
    })();
</script>
