
<table width='100%' border='1'>
  <thead>
    <tr>
      <td>Quantity</td>
      <td>Product</td>
      <td>Price</td>
      <!--<td>Tax</td>-->
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
	<% order.order_items.each do |item| %>
    <tr>
      <td>
		  <input id="qty" type="number" step="1" min="0" value="<%= item.quantity %>" size="4">
		  <input id="sub" type="hidden" step="1" min="0" value="<%= item.sub_total %>" >
		  
		  <!--<input type="number" step="1" min="0" name="quantity" value="<%= item.quantity %>" size="4">-->
		  
	  </td>
      <td><%= item.ordered_item.full_name %></td>
      <td id="sub_total"><%= number_to_currency(item.sub_total, unit: "$", format: "%u%n") %></td>
      <!--<td><%= number_to_currency item.tax_amount %></td>-->
      <td id="item_total"><%= number_to_currency(item.total, unit: "$", format: "%u%n") %></script></td>
	  
    </tr>
    <% end %>
	
	<!-- deliver servie (calculate later) -->
    <% if order.delivery_service %>
    <tr>
      <td></td>
      <td><%= order.delivery_service.name %></td>
      <td><%= number_to_currency order.delivery_price %></td>
      <td><%= number_to_currency order.delivery_tax_amount %></td>
      <td><%= number_to_currency order.delivery_price + order.delivery_tax_amount %></td>
    </tr>
    <% end %>
	<!-- end deliver servie -->
  </tbody>
  
  <tfoot>
    <tr>
      <td colspan='3'>Sub-Total</td>
	  <input id="before_tax" type="hidden" value="<%= order.total_before_tax %>" >
      <td id="total_before_tax"><%= number_to_currency order.total_before_tax %></td>
    </tr>
    <tr>
      <td colspan='3'>Tax</td>
      <td><%= number_to_currency order.tax %></td>
    </tr>
    <tr>
      <td colspan='3'>Total</td>
      <td><%= number_to_currency order.total %></td>
    </tr>
  </tfoot>
</table>
