<div class='remove-item col-md-1'>
    <%= link_to remove_from_order_path(item), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
</div>

<div class='image col-md-2'>
    <center>
        <%= link_to product_path(item.ordered_item.permalink) do %>
            <%= image_tag item.ordered_item.default_image.thumb, class: "img-responsive item-img", alt: "#{item.ordered_item.full_name}" %>
        <% end %>
    </center>
</div>

<div class='name col-md-4 column'>
    <%= link_to product_path(item.ordered_item.permalink) do %>
        <b><%= item.ordered_item.full_name %></b>
    <% end %>
</div>

<div class='price col-md-1'>
    <p><%= number_to_currency(item.unit_price, unit: "$", format: "%u%n") %></p>
</div>

<div class='quantity col-md-3' data-refresh-path="<%= refresh_order_items_path(current_order) %>">
    <%= select_tag 'quantity', options_for_select((1..20).to_a, item.quantity), class: "form-control quantity-select", data: { itemId: item.id } %>
</div>

<div class='total col-md-1'>
    <p><%= number_to_currency(item.sub_total, unit: "$", format: "%u%n") %></p>
</div>
