<%= render 'orderlayout' %>
<h2 style='padding-left: 2em; padding-top: 1em; '>Checkout</h2>
<%= render 'final_items', :order => @order %>
<div class="row" style='margin: 3em; padding: 2em;'>

  
<%= form_for @order, :url => checkout_path, :class=> 'form-horizontal' do |f| %>
	<div class="col-md-4">
	  <dl>
		  <div class="row"></div>
		  <div class="row">
		    <dt><%= f.label :first_name, 'Name' , :class=>'col-md-3 control-label'%></dt>
		    <dd><%= f.text_field :first_name, :class=>'col-md-4' %> <%= f.text_field :last_name, :class=>'col-md-5'  %></dd>

		    <dt><%= f.label :billing_address1, 'Address', :class=>'col-md-3 control-label' %></dt>
		    <dd><%= f.text_field :billing_address1 , :class=>'col-md-9'%></dd>
		    <dd><%= f.text_field :billing_address2, :class=>'col-md-offset-3 col-md-9' %></dd>
		    <dd><%= f.text_field :billing_address3, :class=>'col-md-offset-3 col-md-9' %></dd>
		</div>
		<div class="row">
			<dt><%= f.label :billing_address4, 'Province', :class=>'col-md-3 control-label' %></dt>
		    <dd><%= f.collection_select :billing_address4, Shoppe::TaxRate.ordered.where(country: 'CA'), :id, :province, :class=>'col-md-9'%></dd>
		</div>
		<div class="row">
			<dt><%= f.label :billing_postcode, 'Postal Code', :class=>'col-md-3 control-label' %></dt>
		    <dd><%= f.text_field :billing_postcode, :class=>'col-md-9' %></dd>
		</div>
		<div class="row">
			<dt><%= f.label :billing_country_id, 'Country', :class=>'col-md-3 control-label' %></dt>
		    <dd><%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true , :class=>'col-md-10'%></dd>
		</div>
		<div class="row">
		    <dt><%= f.label :email_address, 'Email', :class=>'col-md-3 control-label' %></dt>
		    <dd><%= f.text_field :email_address, :class=>'col-md-9' %></dd>

		    <dt><%= f.label :phone_number, 'Phone Number', :class=>'col-md-3 control-label' %></dt>
		    <dd><%= f.text_field :phone_number, :class=>'col-md-9' %></dd>
		</div>
			</dl>
  </div>
  <div class="col-md-1">
  </div>
	<div class="col-md-4">
		<dl>
		<!-- Delivery Address -->
		<div class="row">
		<dt><%= f.label :separate_delivery_address, 'If delivery address is different:', :class=>'col-full' %></dt>
		<dt><%= f.label :delivery_name, 'Receipant Name', :class=>'col-md-4 control-label' %></dt>
	    <dd><%= f.text_field :delivery_name , :class=>'col-md-8'%></dd>
	</div>
	<div class="row">
		<dt><%= f.label :delivery_address1, 'Address', :class=>'col-md-4 control-label' %></dt>
	    <dd><%= f.text_field :delivery_address1, :class=>'col-md-8' %></dd>
	    <dd><%= f.text_field :delivery_address3 , :class=>'col-md-offset-4 col-md-8'%></dd>
	</div>
	<div class="row">
		<dt><%= f.label :delivery_address4, 'Province', :class=>'col-md-4 control-label' %></dt>
	    <dd><%= f.collection_select :delivery_address4, Shoppe::TaxRate.ordered.where(country: 'CA'), :id, :province, :class=>'col-md-8'%></dd>
	</div>
	<div class="row">
		<dt><%= f.label :delivery_postcode, 'Postal Code', :class=>'col-md-4 control-label' %></dt>
	    <dd><%= f.text_field :delivery_postcode, :class=>'col-md-8' %></dd>
		<dt><%= f.label :delivery_country, 'Country', :class=>'col-md-4 control-label' %></dt>
	    <dd><%= f.collection_select :delivery_country, Shoppe::Country.ordered, :id, :name, :include_blank => true, :class=>'col-md-8'  %></dd>
	</div>
  	</dl>

	<div class="col-ful">
	    <dd><%= f.submit 'Continue', :class => 'btn btn-danger' %></dd>
	</div
  </div>
<% end %>


</div>

