%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/bootstrap.min.css"}

:css
  p {margin-top:3px;}
  span.remove-img{
    color:red;
    cursor:pointer;
  }

- @page_title = "#{t('shoppe.variants.variants')} - #{@product.name}"
= content_for :header do
  %p.buttons= link_to t('shoppe.variants.back_to_variants'), [@product, :variants], :class => 'button'
  %h2.products= t('shoppe.variants.variants_of', product:@product.name)

= form_for [@product, @variant], :url => @variant.new_record? ? product_variants_path(@product) : product_variant_path(@product, @variant), :html => {:multipart => true} do |f|
  = f.error_messages
  = field_set_tag t('shoppe.variants.product_information') do
    .splitContainer
      %dl.third
        %dt= f.label :name, t('shoppe.variants.name')
        %dd= f.text_field :name, :class => 'text focus'
      %dl.third
        %dt= f.label :permalink, t('shoppe.variants.permalink')
        %dd= f.text_field :permalink, :class => 'text'
      %dl.third
        %dt= f.label :sku, t('shoppe.variants.sku')
        %dd= f.text_field :sku, :class => 'text'
    %dl
      %dt= f.label :in_the_box, t('shoppe.variants.in_the_box')
      %dd= f.text_area :in_the_box, :class => 'text'

  = field_set_tag t('shoppe.variants.default_image') do
    %dl
      %dd
        = link_to image_tag (@variant.default_image.thumb.url), :class => 'imageContainer', :hide_if_blank => true
        %p= f.file_field :default_image
        %p= f.hidden_field :default_image_cache
	
	  
  = field_set_tag t("shoppe.variants.pricing") do
    .splitContainer
      %dl.third
        %dt= f.label :price, t('shoppe.variants.price')
        %dd= f.text_field :price, :class => 'text'
      %dl.third
        %dt= f.label :cost_price, t('shoppe.variants.cost_price')
        %dd= f.text_field :cost_price, :class => 'text'
      %dl.third
        %dt= f.label :tax_rate_id, t('shoppe.variants.tax_rate')
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => t('shoppe.variants.no_tax')}}

  = field_set_tag t('shoppe.variants.stock_control') do
    .splitContainer
      %dl.half
        %dt= f.label :weight, t('shoppe.variants.weight')
        %dd= f.text_field :weight, :class => 'text'

      %dl.half
        %dt= f.label :stock_control, t('shoppe.variants.stock_control')
        %dd.checkbox
          = f.check_box :stock_control
          = f.label :stock_control, t('shoppe.variants.enable_stock_control?')

  = field_set_tag t('shoppe.variants.website_properties') do
    .splitContainer
      %dl.half
        %dt= f.label :active, t('shoppe.variants.on_sale?')
        %dd.checkbox
          = f.check_box :active
          = f.label :active, t('shoppe.variants.on_sale_info')
      %dl.half
        %dt= f.label :default, t('shoppe.variants.default_variant?')
        %dd.checkbox
          = f.check_box :default
          = f.label :default, t('shoppe.variants.default_variant_info')


  - if room_categories.include? @product.product_category.try(:permalink)
    = field_set_tag  t('shoppe.products.furniture_included') do
      .splitContainer
        - Shoppe::Product.furniture.order("product_category_id ASC").each do |product|
          %dl.third
            %dt= link_to t("#{product.product_category.name}: #{product.name} (#{product.sku})"), edit_product_path(product)
            %dd= check_box_tag 'included[]', product.id, (@variant.included_products.include? product)
            %dd= product.name
            %dt
              - if image_link(product, 'default_image')
                = link_to (image_tag image_link(product, 'default_image'), :class => 'imageContainer', width: 80),  edit_product_path(product)


  %p.submit
    - unless @variant.new_record?
      %span.right= link_to t('shoppe.delete'), product_variant_path(@product, @variant), :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.variants.delete_confirmation')}
    = f.submit t('shoppe.variants.save_variant'), :class => 'button green'
    = link_to t('shoppe.cancel'), :products, :class => 'button'

:javascript
  $('header.logo').css('height','auto');
  $('fieldset legend').css('width','auto');
  $('fieldset legend').css('border','none');
  $('dl.third').last().css('float','left');
  $( "span.remove-img" ).click(function() {
    var span = $(this);
    var id = span.attr('id');

    $.ajax({
      type: 'post',
      data: {
              img_id: id,
              id: "#{@product.id}",
            },
      headers: {
        'X-CSRF-Token': "#{form_authenticity_token.to_s}"
      },
      url: "/products/destroy_img",
      success: function(response) {
        $('input.url_image#'+id).val('');
        $('img#'+id).remove();
        span.remove();
      }
    });
  });