%h2= 'Permission'
.table-container
  %table
    %thead
      %tr
        %th= 'Permission Name'
        %th= 'Class Name'
        / %th= 'Associated Class Name'
        %th= 'CanCan Action'
        %th= 'Actions'
    %tbody
      - @permissions.each do |permission|
        %tr
          %td= permission.name
          / # %td= permission.controller_class
          %td= permission.subject_class
          %td= permission.action
          %td  
            = link_to 'Show', permission, :class => 'button green'
            =# link_to 'Delete', permission, :class => 'button purple', :method => :delete, :data => {:confirm => 'Are you sure you wish to remove this permission?'}

