= form_for @user do |f|
  = f.error_messages
  = field_set_tag t('shoppe.users.user_details') do
    .splitContainer
      %dl.half
        %dt= f.label :first_name, t('shoppe.users.first_name')
        %dd= f.text_field :first_name, :class => 'focus text'
      %dl.half
        %dt= f.label :last_name, t('shoppe.users.last_name')
        %dd= f.text_field :last_name, :class => 'text'
  = field_set_tag t("shoppe.users.login") do
    .splitContainer
      %dl.third
        %dt= f.label :email_address, t('shoppe.users.email')
        %dd= f.text_field :email_address, :class => 'text'
      %dl.third
        %dt= f.label :password, t('shoppe.users.password')
        %dd= f.password_field :password, :class => 'text'
      %dl.third
        %dt= f.label :password_confirmation, t('shoppe.users.password_confirmation')
        %dd= f.password_field :password_confirmation, :class => 'text'
  / = field_set_tag t("shoppe.users.admin") do
  /   .splitContainer
  /     %dl.one
  /       %dt= f.label :admin, t('shoppe.users.admin')
  /       %dd= f.check_box :admin
  = field_set_tag t("shoppe.users.roles") do
    .splitContainer
      %dl.third
        %dt= f.label :role_ids, t("shoppe.users.roles")
        %dd= f.collection_select(:role_ids, Role.all, :id, :name, {:selected => @user.role_ids, include_hidden: false}, {:multiple => true})
      %dl.third
      %dl.third
  %p.submit
    - unless @user.new_record?
      %span.right= link_to t('shoppe.delete'), @user, :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.users.delete_confirmation')}
    = f.submit  t('shoppe.submit'), :class => 'button green'
    = link_to t('shoppe.cancel'), :users, :class => 'button'
