- @page_title = t('shoppe.logistics.cities.edit')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.logistics.cities.new'), new_zone_city_path(@zone), :class => 'button green'
    = link_to t('shoppe.logistics.links.back'), :back, :class => 'button'
    = link_to t('shoppe.logistics.back_to_logistictics') , :logistics, :class => 'button'
  %h2.zones= t('shoppe.logistics.cities.edit')

= render 'form'
