.access_management_block
  %h2= "Role: #{@role.name}"
  - if @role.permissions.present?
    %h2 Permissions:
    %table.data.orderItems
      %thead
        %tr
          %th= 'Permission Name'
          %th= 'Class Name'
          %th= 'Action'
          %th= 'Actions'
      %tbody
        - @role.permissions.each do |permission|
          %tr
            %td= permission.name
            %td= permission.subject_class
            %td= permission.action
            %td  
  - if @role.product_categories.present?
    %h2 Product categories:
    %table.data.orderItems
      %thead
        %tr
          %th= 'Category Name'
          %th= 'Permalink'
          %th= 'Actions'
      %tbody
        - @role.product_categories.each do |product_category|
          %tr
            %td= product_category.name
            %td= product_category.permalink
            %td  
              = link_to 'Show', [:edit, product_category], :class => 'button green'
  - else
    You can add permissions for this role