- @page_title = 'New Role'

= content_for :header do
  %p.buttons
    = link_to t('shoppe.logistics.links.back'), :back, :class => 'button'
    = link_to 'Back to Access Management', :roles_permissions, :class => 'button'
  %h2.roles= 'New Role'

= render 'form'
