- @page_title = "Role ##{@role.name}"

= content_for :header do
  %p.buttons
    = link_to t('shoppe.edit'), [:edit, @role], :class => 'button green'
    = link_to 'New Role', :new_role, :class => 'button green'
    = link_to 'Back to Access Management', :roles_permissions, :class => 'button'
  %h2.roles= "#{@role.name}"
#zone
  = render 'role_details'
