<% content_for :custom_scripts do %>
  <%= javascript_include_tag "specific/designer-portal-ajax.js" %>
<% end %>
<main>
    <section class="main-tabs">
        <div class="l-wrapper">
            <%= link_to 'project info', designer_portal_path, class: "main-tabs__one-tab main-tabs__one-tab--active", id: 'project-info-tab' %>
            <%= link_to 'select items', designer_portal_select_items_path, class: "main-tabs__one-tab save-project-info-tab", id: 'select-items-tab' %>
            <%= link_to 'room builder', designer_portal_room_builder_path, class: "main-tabs__one-tab save-project-info-tab", id: 'room-builder-tab' %>
            <%= link_to 'instructions', designer_portal_instructions_path, class: "main-tabs__one-tab save-project-info-tab", id: 'instructions-tab' %>
        </div>
    </section>
    <div class="l-wrapper">
        <div class="l-tabs-alignment">
            <div class="info-table">
                <div class="info-table__row">
                    <div class="info-table__cell">Project Status:</div>
                    <div class="info-table__cell" id='project-status'><%= @design_project.status %></div>
                </div>
                <div class="info-table__row">
                    <div class="info-table__cell">Creation Date:</div>
                    <div class="info-table__cell"><%= @design_project.try(:created_at) || Date.today %></div>
                </div>
                <div class="info-table__row">
                    <div class="info-table__cell">Last Modefied Date:</div>
                    <div class="info-table__cell"><%= @design_project.try(:updated_at) || Date.today %></div>
                </div>
                <div class="info-table__row">
                    <div class="info-table__cell">Designed By:</div>
                    <div class="info-table__cell"><%= current_user.try(:full_name) %></div>
                </div>
                <div class="info-table__row">
                    <div class="info-table__cell">Designer Email:</div>
                    <div class="info-table__cell" id='designer-email'><%= current_user.try(:email_address) %></div>
                </div>
            </div>
            <%= form_for @design_project, url: designer_portal_create_path, html: { class: "project-init-info", id: 'project-form', multipart: true }, remote: true do |f| %>
                <div class="project-init-info__row">
                    <div class="project-init-info__cell">Project Name</div>
                    <div class="project-init-info__cell">
                        <label class="project-init-info__label">
                            <%= f.text_field :name, class: "project-init-info__input", id: 'project-name' %>
                        </label>
                    </div>
                    <div class="project-init-info__cell"></div>
                </div>
                <div class="project-init-info__row">
                    <div class="project-init-info__cell">Inspiration</div>
                    <div class="project-init-info__cell">
                        <label class="project-init-info__label">
                            <%= f.text_area :inspiration, class: "project-init-info__textarea", id: 'project-inspiration' %>
                        </label>
                    </div>
                    <div class="project-init-info__cell"></div>
                </div>


                <div class="project-init-info__row">
                    <div class="project-init-info__cell">Inspiration Images</div>
                    <div class="project-init-info__cell">
                        <label class="project-init-info__label">
                            <%= f.text_field "url_inspiration_image1", id: "project-url-inspiration-image1", class: 'project-init-info__input', type: "url", placeholder: "url" %>
                        </label>
                    </div>
                    <div class="project-init-info__cell">
                        <div class="project-init-info__furtiv-inp-cont">
                            or <span class="project-init-info__btn">Upload</span>
                            <label class="project-init-info__transp-mask">
                                <%= f.file_field 'inspiration_image1', id: "project-inspiration-image1", class: 'images-upload' %>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="project-init-info__row">
                    <div class="project-init-info__cell"></div>
                    <div class="project-init-info__cell">
                        <label class="project-init-info__label">
                            <%= f.text_field "url_inspiration_image2", id: "project-url-inspiration-image2", class: 'project-init-info__input', type: "url", placeholder: "url" %>
                        </label>
                    </div>
                    <div class="project-init-info__cell">
                        <div class="project-init-info__furtiv-inp-cont">
                            or <span class="project-init-info__btn">Upload</span>
                            <label class="project-init-info__transp-mask">
                                <%= f.file_field 'inspiration_image2', id: "project-inspiration-image2", class: 'images-upload' %>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="project-init-info__row">
                    <div class="project-init-info__cell"></div>
                    <div class="project-init-info__cell">
                        <label class="project-init-info__label">
                            <%= f.text_field "url_inspiration_image3", id: "project-url-inspiration-image3", class: 'project-init-info__input', type: "url", placeholder: "url" %>
                        </label>
                    </div>
                    <div class="project-init-info__cell">
                        <div class="project-init-info__furtiv-inp-cont">
                            or <span class="project-init-info__btn">Upload</span>
                            <label class="project-init-info__transp-mask">
                                <%= f.file_field 'inspiration_image3', id: "project-inspiration-image3", class: 'images-upload' %>
                            </label>
                        </div>
                    </div>
                </div>


                <!-- <div class="project-init-info__row no-display">
                    <div class="project-init-info__cell">Inspiration Images</div>
                    <div class="project-init-info__cell">
                        <div class="project-init-info__adm-img-cont l-cont">
                            <img class="l-el" src="">
                            <img class="l-el" src="">
                            <img class="l-el" src="">
                        </div>
                    </div>
                    <div class="project-init-info__cell"></div>
                </div> -->


                <div class="project-init-info__row">
                    <div class="project-init-info__cell">Room Type</div>
                    <div class="project-init-info__cell">
                        <label class="project-init-info__label">

                       <%= f.collection_select :product_category_id, ProductCategory.where(is_room: true).order(:name), :id, :name, {:class => 'project-init-info__select'} %>
                          <!--   <select class="project-init-info__select">
                                <option>Type 1</option>
                                <option>Type 2</option>
                                <option>Type 3</option>
                                <option>Type 4</option>
                                <option>Type 5</option>
                            </select> -->
                        </label>
                    </div>
                    <div class="project-init-info__cell"></div>
                </div>
                <div class="project-init-info__row">
                    <div class="project-init-info__cell">Ideal Room Size</div>
                    <div class="project-init-info__cell">
                        <table>
                            <tr>
                                <td>
                                    <span>Width</span>
                                    <label class="project-init-info__small-label">
                                        <%= f.number_field :width_ft, class: "project-init-info__small-input", id: 'project-width-ft', min: "0", step: "1" %>
                                    </label>
                                    <span>ft.</span>
                                </td>
                                <td>
                                    <label class="project-init-info__small-label">
                                        <%= f.number_field :width_in, class: "project-init-info__small-input", id: 'project-width-in', min: "0", step: "0.01" %>
                                    </label>
                                    <span>in.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Depth</span>
                                    <label class="project-init-info__small-label">
                                        <%= f.number_field :depth_ft, class: "project-init-info__small-input", id: 'project-depth-ft', min: "0", step: "1" %>
                                    </label>
                                    <span>ft.</span>
                                </td>
                                <td>
                                    <label class="project-init-info__small-label">
                                        <%= f.number_field :depth_in, class: "project-init-info__small-input", id: 'project-depth-in', min: "0", step: "0.01" %>
                                    </label>
                                    <span>in.</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="project-init-info__cell"></div>
                </div>
            <% end %>
        </div>
    </div>
</main>
<script>
 ;(function() {
    var urlInputs = document.querySelectorAll("input[type='url']");
    for (var i = 0, lim = urlInputs.length; i < lim; i += 1) {
        urlInputs[i].addEventListener("change", function() {
            var reg = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
            if(this.value.length !== 0 && !reg.test(this.value)) {
                this.classList.add("project-init-info__input--error");
            } else {
                this.classList.remove("project-init-info__input--error");
            }
        });
    };
 })();
</script>
