.logistics_form
  = form_for @permission, :html => {:multipart => true} do |f|
    = f.error_messages
    = f.label :name
    = f.text_field :name, :class => 'text'
    = f.label :name, 'Controller'
    = f.collection_select :subject_class, @controllers, :first, {:class => 'text'}
    = render 'roles_form', :f => f 
    = f.submit t('shoppe.submit'), :class => 'button green'