.access_management_block
  = form_for @permission, :html => {:multipart => true} do |f|
    = f.error_messages
    = f.label :name
    = f.text_field :name, :class => 'text'
    = f.label :controller_class, 'Class'
    = f.collection_select :subject_class, @controllers, :to_s, :to_s, include_blank: false, :class => 'text'
    = f.label :action, 'Action'
    = f.collection_select :action, @actions, :to_s, :to_s, include_blank: false, :class => 'text'

    = render 'roles_form', :f => f 
    = f.submit t('shoppe.submit'), :class => 'button green'
