.logistics_details
  %h2= "Permission Name: #{@permission.name}"
  %h2= "Permission Controller: #{@permission.subject_class}"
  %h2= "Permission Action: #{@permission.action}"
  %h2= "Permission description: #{@permission.description}"
  - if @permission.roles.present?
    %h2 Roles:
    %table.data.orderItems
      %thead
        %tr
          %th.name= t('shoppe.logistics.cities.name')
          %th.action= t('shoppe.logistics.links.action')
      %tbody
        - @permission.roles.each do |role|
          %tr.item{:class => 'existing'}
            %td.name= role.name
            %td.action
              = link_to t('shoppe.logistics.cities.edit'),  [:edit, role], :class => 'button green'
  - else
    You can add role for this permission