<div class="col-md-7" style="padding: 0 5% 0 0;">
    <h3><%= @product.short_description %></h3>
    <p><%= @product.description %></p>
</div>
<div class="col-md-5" style="border-left:  1px solid #ccc; padding: 0 0 0 5%;">
    <!--div class="product-attribute-label">Dimensions:</div-->
    <div>Dimensions:</div>
    <!--div class="product-attribute-value"-->
    <div>
      <%= dimension_if_positive("Width(in)", @product.width) %><%= dimension_if_positive("		 Depth(in)", @product.depth) %><%= dimension_if_positive("		 Height(in)", @product.height) %>
	  <p><%= "Other Details: #{@product.other_details}" if @product.other_details.present? %></p>
      <p class='dimensions'>
        <p><%= dimension_if_positive("Seat Width(in)", @product.seat_width) %><p>
        <p><%= dimension_if_positive("Seat Depth(in)", @product.seat_depth) %><p>
        <p><%= dimension_if_positive("Seat Height(in)", @product.seat_height) %><p>
        <p><%= dimension_if_positive("Arm Height(in)", @product.arm_height) %><p>
      </p>
	</div>
    <% @product.product_attributes.where(public: true).each do |attribure| %>
      <% if attribure.value.present? && attribure.value!="0" %>
        <!--div class="product-attribute-label"-->
        <div>
        <%= attribure.key %>:
        </div>
        <!--div class="product-attribute-value"-->
        <div>
        <%= attribure.value %>
        </div>
      <% end %>
    <% end %>
</div>