<div class='variant' id="product_<%= product.sku %>" style="display: <%= product_visibility(product) %>"
  data-url="<%= buy_product_path(id: product.permalink) %>">
  <p><%= product.short_description %> and the product's permalink is <%=product.permalink%></p>
  <div class="price"><b><%= number_to_currency(product.price, unit: "$", format: "%u%n") %></b></div>
</div>