<div class="col-full">
  <div id="ProductCarousel" class="carousel slide" data-ride="carousel" style="">
    <div class="carousel-outer">
      <div class="carousel-inner" role="listbox" id='carousel-inner-product'>
        <% array_images.each do |img|%>
          <% if image_link(product, img) %>
            <div class="item<%= img.eql?('default_image') ? ' active' : nil %> carousel-item-product">
              <%= image_tag image_link(product, img),  class: "img-responsive", alt: "product" %>
            </div>
          <% end %>
        <% end %>
        <% @product.included_products.each do |item| %>
          <% if image_link(item, 'default_image') %>
            <div class="item carousel-item-product">
              <%= image_tag image_link(item, 'default_image'), class: "img-responsive", alt: "product" %>
            </div>
          <% end %>
        <% end %>
      </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#ProductCarousel" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#ProductCarousel" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    <ol class='carousel-indicators mCustomScrollbar'>
      <% data_slide_to = 0 %>
      <% array_images.each_with_index do |img, index|%>
        <% if image_link(product, img) %>
          <li data-target='#ProductCarousel' data-slide-to="<%= data_slide_to %>" class="<%= img.eql?('default_image') ? 'active' : nil %>">
            <%= image_tag image_link(product, img), class: "img-responsive carousel-indicators-image", alt: "product", width: 150, height: 100 %>
          </li>
          <% data_slide_to += 1 %>
        <% end %>
      <% end %>
      <% @product.included_products.each_with_index do |item, index| %>
        <% if image_link(item, 'default_image') %>
          <li data-target='#ProductCarousel' data-slide-to="<%= data_slide_to %>">
            <%= image_tag image_link(item, 'default_image'), class: "img-responsive carousel-indicators-image", alt: "product", width: 150, height: 100 %>
          </li>
           <% data_slide_to += 1 %>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>
