<div class="container">
  
  <% @products.each do |category, products| %>
      <% if category.parent_id != nil && Shoppe::ProductCategory.find_by_permalink('rooms').id == category.parent_id %>
		<h3 style="color: #333; display: block; float: left; width: 100%;" ><%=  category.name.upcase %></h3>
		<ul>
		  <% products.each do |product| %>
		    <div class="col-md-4 portfolio-item">
		        <h5 style="color: #333;" ><%= link_to product.name, product_path(product.permalink) %></h5>
		        <p>
		          <a href="<%= product_path(product.permalink) %>">
		            <%= default_image(product) if default_image(product) %>
		          </a>
		        </p>
		        <% if product.has_variants? %>
		           <%= link_to "View Options", product_path(product.permalink), :class => "btn btn-xl" %>
		        <% else%>
		            <p>
		              <% if (product.in_stock? && product.stock_control) || !product.stock_control %>
		                <%= link_to buy_product_path(product.permalink), :method => :post, :class => "btn btn-xl" do %>
		                  <i class="fa fa-shopping-cart"></i>
		                <% end %>
		              <% else %>
		                <%= link_to product_path(product.permalink), :class => "btn btn-xl" do %>
		                  View details
		                <% end %>
		              <% end %>
		              <b style="margin-left: 10px; ">
		                <%= number_to_currency(currency_price(product), unit: "$", format: "%u%n") %>
		              </b>
		            </p>
		        <% end %>
		      </div>
		  	<% end %>

		 </ul>
	  <% end %>
  <% end %>
</div>
