<div class="container" id="portfolio">
  <br>
<% if @project_categories.present? %>
    <% @project_categories.each do |category| %>
        <h3 class="prod-cat-title" ><%=  category.name %></h3>
        <ul>
        <% category.children.order('created_at').try(:each) do |child_category| %>
          <div class="col-md-4 portfolio-item">
            <a href="<%= product_category_path(child_category) %>" class="portfolio-link" data-toggle="modal"  >
              <div class="portfolio-hover" >
                  <div class="portfolio-hover-content">
                      <%= child_category.name %>
                  </div>
              </div>
              <div class="portfolio-image"><%= default_category_image(child_category) if default_category_image(child_category) %></div>
            </a>
          </div>
        <% end %>
        <% category.products.try(:each) do |product| %>
            <div class="col-md-4 portfolio-item">
                <a href="<%= product_path(product.permalink) %>" class="portfolio-link" data-toggle="modal" >
                  <div class="portfolio-hover" >
                      <div class="portfolio-hover-content">
                          <%= product.name %>
                      </div>
                  </div>
                  <div class="portfolio-image"><%= default_image(product) if default_image(product) %></div>
                </a>

                <% if product.has_variants? %>
                    <p>
                       <%= link_to "View Options", product_path(product.permalink), :class => "btn btn-xl" %>
                   </p>
                <% else%>
                    <p>
                      <% if (product.in_stock? && product.stock_control) || !product.stock_control %>
                        <%= link_to buy_product_path(product.permalink), :method => :post, :class => "btn btn-xl" do %>
                          <i class="fa fa-shopping-cart"></i>
                        <% end %>
                      <% else %>
                        <%= link_to product_path(product.permalink), :class => "btn btn-xl" do %>
                          View details
                        <% end %>
                      <% end %>
                      <b style="margin-left: 10px; ">
                        <%= number_to_currency(currency_price(product), unit: "$", format: "%u%n") %>
                      </b>
                    </p>
                <% end %>
            </div>
        <% end %>
        </ul>
      <% end %>
<% else %>
  <% @products.each do |category, products| %>
      <% if category.parent_id != nil && Shoppe::ProductCategory.find_by_permalink('rooms').try(:id) == category.parent_id %>
    <h3 class="prod-cat-title" ><%=  category.name %></h3>
    <p class="prod-cat-desc" ><%=  category.description %></p>
    <ul>
      <% products.each do |product| %>
        <div class="col-md-4 portfolio-item">
            <a href="<%= product_path(product.permalink) %>" class="portfolio-link" data-toggle="modal" >
          <div class="portfolio-hover" >
              <div class="portfolio-hover-content">
              <%= product.name %>
              </div>
          </div>
          <div class="portfolio-image"><%= default_image(product) if default_image(product) %></div>
        </a>

        <% if product.has_variants? %>
          <p>
                 <%= link_to "View Options", product_path(product.permalink), :class => "btn btn-xl" %>
           </p>
            <% else%>
                <p>
                  <% if (product.in_stock? && product.stock_control) || !product.stock_control %>
                    <%= link_to buy_product_path(product.permalink), :method => :post, :class => "btn btn-xl" do %>
                      <i class="fa fa-shopping-cart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to product_path(product.permalink), :class => "btn btn-xl" do %>
                      View details
                    <% end %>
                  <% end %>
                  <b style="margin-left: 10px; ">
                    <%= number_to_currency(currency_price(product), unit: "$", format: "%u%n") %>
                  </b>
                </p>
            <% end %>
          </div>
        <% end %>

     </ul>

    <% end %>
  <% end %>
<% end %>
</div>
