<% content_for :custom_scripts do %>
  <%= javascript_include_tag 'products/products.js' %>
<% end %>

<div class="col-full">

  <div class="content inside-page product-details">
    
    <div class="row">
      <div class="col-md-3" style="left: 10px;" >
	      <div class="breadcrumb-fw" style="color: #333;"><a href="<%= root_url%>">Home</a> > <a href="<%= products_url %>">Shop</a> > <%= @product.name %>
	      </div>
		  <h2 ><%= @product.name %></h2>
	  <br>
	    <p><%= @product.description %></p>
		<br>
		<% if @product.has_variants? %>
			<h4>Options</h4>
		<% end %>
        <p>
          <% root_product.variants.each do |variant| %>
		  <div style="display: block;">
            <%= radio_button_tag :varsku, variant.sku, variant.default? %>
            <%= variant.name %> 
			</div>
          <% end %>
        </p>
        <%= render 'variant_info', product: @product %>

        <% @product.variants.each do |variant| %>
          <%= render 'variant_info', product: variant %>
        <% end %>

        <div class="clearfix">
          <div class="pull-left" style="margin-top: 2em;">
            <%  if @product.has_variants? %>
               <%= link_to "Add To Cart", buy_product_path(@product.default_variant.permalink), method: :post, :class => "btn btn-xl fa fa-shopping-cart", id: :buy %>
            <% else%>
              <%= link_to "Add To Cart", buy_product_path(@product.permalink), method: :post, :class => "btn btn-xl fa fa-shopping-cart" %>
            <% end %>

            <a href="mailto:info@gofourwalls.com" class="btn btn-second fa fa-envelope">Email Us</a>
          </div>
        </div>

      </div>
      <div id='product-gallery' class="col-md-9">
        <%= render 'variant_gallery', product: @product %>


	    <% if @product.included != nil && @product.included != "" %>
		     <div class="col-full"><h2 >What's Included: </h2></div>
	    	 <% items = @product.included.from(1).to(-2) %>
		   	 <% item_array = Array.new 
		   	 item_array = items.scan(/\d+/) %>
		   	 <% item_array.each do |i|%>
		   		<% item = Shoppe::Product.find(i.to_i) %>

		   		    <div class="row">
		   		       	<div class="col-md-3"><a href="<%= item.permalink %>" target="_blank"><%= image_tag item.default_image, class: "img-responsive", alt: "product" %></a></div>
		   				<div class="col-md-9" style="vertical-align: text-bottom; ">
		   					<h3><strong><%= item.name %></strong></h3>
		   					<p><%= item.description %></p>
		   				</div>
		   			</div>
		   	 <% end %>
	     <% end %>
		
      </div>
	  
    </div>
    
  </div>


</div>
