- @page_title = "#{t('shoppe.logistics.suppliers.supplier')} ##{@supplier.id}"

= content_for :header do
  %p.buttons
    = link_to t('shoppe.edit'), [:edit, @supplier], :class => 'button green'
    = link_to t('shoppe.logistics.back_to_logistictics') , :logistics, :class => 'button'
  %h2.zones= "#{@supplier.name}"
#zone
  = render 'supplier_details'
