<%= render 'orders/orderlayout' %>
<h2 style='padding-left: 2em; padding-top: 1em; '>Make Payment</h2>
<div class="row" style='margin: 3em; padding: 2em;'>
<%= form_tag charges_path do %>
  <article>
	  <% puts @params 
	  @order = current_order %>
    <label class="amount">
      <span>Amount: <%= @order.total%></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%=@order.first_name %>"
          data-amount="<%=@order.total*100%>"></script>
<% end %>

</div>