<div class="navbar-wrapper" >
  <div class="container-fluid">

	<nav class="navbar navbar-default navbar-custom header-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<%= link_to root_url, class: 'navbar-brand' do %>
                    <%= image_tag "fourwalls-logo.png" %>
                <% end %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <%= render 'layouts/currency_checker' %>

                <form class="navbar-form navbar-right" role="search" accept-charset="UTF-8" action="/search" method="get">
                    <div class="input-group header-search-form">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Shop", products_url, class: "active"%></li>
                    <li><%= link_to "About Us", about_us_url, class: "active"%></li>
                    <li><%= link_to "Blog", blog_url %></li>
                    <li><%= link_to "Account", account_url %></li>
                    <li><%= link_to "Cart (#{current_order.total_items})", cart_path, class: "active"%></li>
                    <% if current_user %>
                      <li><%= link_to "Logout", destroy_user_session_path, method: 'DELETE' %></li>
                    <% else %>
                      <li><%= link_to "Sign in", new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
	</nav>

  </div>
</div>
<div class='error-messages-block'>
    <%= render 'layouts/flashes' %>
    <%= render 'layouts/errors' %>
</div>


<% if request.original_url.include? "#{request.base_url}/products/" %>
	<!-- <header style="background-color: #000; opacity: 0.8; height: 7.5em; width: 100%;">
	</header> -->
<% end %>
