<div class="navbar-wrapper" >
  <div class="container">

	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<%= link_to "Four Walls", root_url, class: 'navbar-brand' %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Shop", room_type_path, class: "active"%></li>
                    <li><%= link_to "About Us", about_us_url, class: "active"%></li>
                    <li><%= link_to "Cart (#{current_order.total_items})", cart_path, class: "active"%></li>
                    <li><%= link_to "Checkout", checkout_path %></li>
                    <% if current_user %>
                      <li><a> <%= "Hi, #{current_user.fullname}" %> </a></li>
                      <li><%= link_to "Logout", destroy_user_session_path, method: 'DELETE' %></li>
                    <% else %>
                      <li><%= link_to "Sign in", new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
	</nav>
  	
  </div>
</div>

<% unless  request.original_url.include? "#{request.base_url}/products/"%>
	<% if request.original_url != "#{request.base_url}/" || request.original_url==request.base_url  %>
	<header style="background-color: #000; opacity: 0.8; height: 15em; width: 100%;">
	        <div class="container">
	            <div style="color: #fff; margin-top: 10em; ">
					<% if request.original_url.include? "checkout" %>
		                <h1>Checkout</h1>
					<% elsif request.original_url.include? "product" %>
						<h1>Rooms</h1>
					<% elsif request.original_url.include? "basket" %>
						<h1>Your Order</h1>
					<% elsif request.original_url.include? "about_us" %>
						<h1>About Us</h1>
					<% else %>
						<h1>Room In A Box</h1>
					<% end %>
	            </div>
	        </div>
	</header>
	<% end %>
<% end %>
<% if request.original_url.include? "#{request.base_url}/products/" %>
	<header style="background-color: #000; opacity: 0.8; height: 7.5em; width: 100%;">
	</header>
<% end %>